<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-store"></i>
      COME BIEN
    </a>
    <button
      type="button"
      class="btn btn-light form-button"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <i class="fa-solid fa-cart-shopping"></i>
      Ver carrito
    </button>

  </div>
</nav>