<div class="col-12 col-md-6 col-lg-4">
  <div class="card mx-auto" style="width: 18rem;">
    <img
      src="/assets/{{item}}.png"
      class="mw-100 card-img-top opacity-25 producto-item"
      id="{{item}}"
    />
    <div class="card-body">
      <hr />
      <h5 class="card-title text-center">{{item}}</h5>

    </div>
  </div>
</div>