<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Come bien</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link href="/bootstrap-css" rel="stylesheet" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="https://kit.fontawesome.com/532b2172c8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{> menu}}
    <div class="container">
      {{{body}}}
    </div>

    {{> footer}}

   <script src="/bootstrap-js"></script>
   <script src="/assets/cart.js"></script>

    
    {{! lo que va en el body es lo que tiene el index  }}
  </body>
</html>